/* Rollover footnotes */

ol.notes {
	border-top: 1px solid #B5BFB2;
	padding: 7px 7px 11px 7px;
}

.post ol.notes li.notes-header {
	list-style-type: none;
	margin: 2px 0 10px 0;
}

.post ol.notes li.notes-header h3 {
	list-style-type: none;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	margin-top: 6px;
}

a.note {
    font-size:.8em;
    vertical-align:baseline;
    line-height:0;
	border: 1px solid #659e42;
	background: #ECF2E9;
    color: #333; 
    text-decoration:none; 
    padding: 1px 1px;
}
        
#tooltip {
    position: absolute;
    z-index: 3000;
	border: 1px solid #659e42;
	background: #ECF2E9;
    padding: 10px;
    width:400px;
    font:11px Verdana, sans-serif;
}

